.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(0.25turn, #673ab7, #5b3898, #4a2d7a);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    
  }
  h2 {
    color: #f0f0f0;
    text-transform: uppercase;
  }
  form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .image {
    display: none;
  }
  .sectorLogo {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
  }
  label {
    position: absolute;
    background-color: #673ab7;
    width: 100%;
    height: 20px;
    padding: 15px 5px 15px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    outline: none;
    color: #f0f0f0;
    font-size: 16px;
  }
  .inputBox {
    position: relative;
    width: 320px;
    height: 70px;
    display: flex;
    flex-direction: column;
  }
  .inputBox input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #673ab7;
    outline: none;
    color: #f0f0f0;
    font-size: 14.4px;
  }
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 15px;
    pointer-events: none;
    font-size: 16px;
    color: #f0f0f0;
    text-transform: uppercase;
    transition: 0.5s;
  }
  .inputBox input:valid ~ span,
  .inputBox select:valid ~ span {
    color: #f0f0f0;
    transform: translateX(10px) translateY(-7px);
    font-size: 11.2px;
    padding: 0 10px;
    background: linear-gradient(0.25turn, #673ab7, #5b3898, #673ab7);
  
    letter-spacing: 3.2px;
  }
  mat-error {
    color: #f0f0f0;
    font-weight: bold;
  }
  button {
    width: 500px;
  }
  .selectContainer {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
  }
  .alert {
    margin-top: 30px;
    padding-bottom: 40px;
  }
  .alert p {
    color: f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
  }
  