.container{
    padding-top: 4.375rem;
    padding-bottom: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0.25turn, #673ab7, #5b3898, #4a2d7a);
    color: #f0f0f0;
}
img{
    width: 37.5rem;
    height: 37.5rem;
    object-fit: contain;
}
span, p{
    font-size: 1rem;
}
span{
    font-weight: 700;
    margin-right: .25rem;
}
p{
    opacity: 80%;
}
p:last-of-type{
    margin-bottom: 1.875rem;
}
button{
    margin-bottom: .125rem;
    width: 9.375rem;
    height: 2.1875rem;
    border: .0625rem solid #f0f0f0;
    color: #f0f0f0;
    font-size: medium;
    font-weight: 500;
    background: linear-gradient(0.25turn, #673ab7, #5b3898, #4a2d7a);
    border-radius: .25rem;
    transition: ease-out 0.4s;
    outline: none;
  }
  button:hover{
    box-shadow: inset 9.375rem 0 0 0 #f0f0f0;
    color: #673ab7;
    cursor: pointer;
  }
  