
.container{
    padding-top: 4.375rem;
    padding-bottom: 32.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ddd7ff;
    color: #3c2f80;
}
img{
    width: 37.5rem;
    height: 37.5rem;
    object-fit: contain;
}
span, p{
    font-size: 16px;
}
span{
    font-weight: 700;
    margin-right: .25rem;
}
p{
    opacity: 80%;
}
p:last-of-type{
    margin-bottom: 1.875rem;
}
button{
    margin-bottom: .125rem;
    width: 9.375rem;
    height: 2.1875rem;
    border: .0625rem solid #bbafff;
    color: #FFFFFF;
    font-size: medium;
    font-weight: 500;
    background-color: #673ab7;
    border-radius: .25rem;
    transition: ease-out 0.4s;
    outline: none;
  }
  button:hover{
    box-shadow: inset 9.375rem 0 0 0 #bbafff;
    cursor: pointer;
  }
  