<div class="container" *ngIf="request$ | async as request">
    <h2>Editing StartUp Request Before Adding it</h2>
    <form #form="ngForm">
        <mat-form-field>
            <mat-label>Enter Company Name</mat-label>
            <input  required  matInput name="companyName" [(ngModel)]='request.companyName' >
            <mat-error>company name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company City</mat-label>
            <input  required  matInput name="city" [(ngModel)]='request.city' >
            <mat-error>company city is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company Email</mat-label>
            <input  matInput name="email" type="email" [(ngModel)]='request.email' ngmodel [email]="true" >
            <mat-error>email is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company Founder</mat-label>
            <input required  matInput name="founder" [(ngModel)]='request.founder' >
            <mat-error>company founder is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company logo</mat-label>
            <input required  matInput name="logo" [(ngModel)]='request.logo' >
            <mat-error>company logo is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter The Number of Company Employees</mat-label>
            <input required  matInput name="numOfEmployees" [(ngModel)]='request.numOfEmployees' >
            <mat-error>company employee number is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company Phone</mat-label>
            <input required  matInput name="phone" [(ngModel)]='request.phone' >
            <mat-error>company phone is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company Sector</mat-label>
            <input required  matInput name="sector" [(ngModel)]='request.sector' >
            <mat-error>company sector is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company Website</mat-label>
            <input required type="url"  matInput name="website" [(ngModel)]='request.website' >
            <mat-error>company website is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Company Year Of Establishment</mat-label>
            <input required  matInput name="yearOfEstablishment" [(ngModel)]='request.yearOfEstablishment' >
            <mat-error>company year of establishment is required</mat-error>
        </mat-form-field>
        
          <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="submit()">Submit</button>
    </form>
</div>