<div class="container">
  <p>Login</p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="inputBox">
      <input type="email" formControlName="email" />
      <span>Email</span>
      <mat-error
        *ngIf="form.controls['email'].hasError?.('required') && (form.controls['email'].dirty || form.controls['email'].touched)"
        >email is required</mat-error
      >
    </div>
    <div class="inputBox">
      <input type="password" formControlName="password" />
      <span>Password</span>
      <mat-error
        *ngIf="form.controls['password'].hasError?.('required') && (form.controls['password'].dirty || form.controls['password'].touched)"
        >email is required</mat-error
      >
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
    >
      Login
    </button>
  </form>
</div>
