<div class="underHeader"></div>
<div class="texts">
  <p>ABOUT US</p>
  <p>Who We Are?</p>
  <p>
    Tech StartUps "Your Gateway to the Jordanian Entrepreneurship Ecosystem", <br />
    Tech StartUps objective is to connect entrepreneurs, investors, and other<br />
    ecosystem players in Jordan with each other while providing digital tools<br />
    and training on starting We aim to help in identifying and supporting<br />
    promising start-ups and provide them with the necessary tools and networks<br />
    to succeed and grow.
    
  </p>
</div>
