.underHeader{
    height: 31.25rem;
    width: 100%;
    background-image: linear-gradient(0.25turn, #673ab7, #5b3898, #4a2d7a), url(https://firebasestorage.googleapis.com/v0/b/startups-tech.appspot.com/o/rsz_image.jpg?alt=media&token=ab7a11c9-7629-47c0-8148-b39f8bdbd73d);
    background-blend-mode: hue;
    background-repeat: no-repeat;
    padding-top: 4rem;
}

.texts{
    padding-bottom: 1.875rem;;
    width: 100%;
    height: 21.875rem;
    background: linear-gradient(0.25turn, #673ab7, #5b3898, #4a2d7a);
}
.texts p:first-of-type{
    text-align: center;
    padding-top: 1.875rem;
    font-size: 2rem;
    font-weight: bold;
    color: #f0f0f0;
}
.texts p:nth-of-type(2){
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #f0f0f0;
    letter-spacing: 0.2rem;
}
.texts p:nth-of-type(3){
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #f0f0f0;
    letter-spacing: 0.2rem;
}